@import "globalVariables.css";


#Cartes_PageHeaderIcon {
    background: url("../images/icons/icon_cards.png");
    width: 142px;
    height: 122px;
    background-size: contain;
    background-repeat: no-repeat;
}

#div_content_image_cartes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-content: flex-end; */
    /* JUSTIFY-ITEMS: flex-end; */
    align-items: flex-end;
}