@import "globalVariables.css";


.nav-link {
    color: var(--mailshop-footer-grey);
}

.nav-link:focus, .nav-link:hover, .nav-link:active {
    text-decoration: underline;
    color: var(--mailshop-logo-orange);
}