@import "globalVariables.css";

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: var(--mailshop-logo-orange);
}

.fp-slidesNav.fp-bottom {
    bottom: 5px;
    display: flex;
    justify-content: center;
}

.fp-slide, .fp-slidesContainer {
    height: 100%;
    display: block;
    padding: 25px 2%;
}