@import "globalVariables.css";


#Printing_PageHeaderIcon {
    background: url("../images/icons/icon_print.png");
    width: 142px;
    height: 122px;
    background-size: contain;
    background-repeat: no-repeat;
}

#div_content_image_print {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: flex-end;
    justify-content: flex-end;
}
