@import "globalVariables.css";


.slide_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(75,82,86,0.5);
    -moz-box-shadow: 2px 2px 7px 0px rgba(75,82,86,0.5);
    box-shadow: 2px 2px 7px 0px rgba(75,82,86,0.5);
}

.slide_content_header {
    height: 116px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.slide_content_header img {
    width: 135px;
}

.slide_content_header_text {
    color: #4B5256;
    font-size: 38pt;
    margin-bottom: 15px;
    margin-right: 30px;
}

.slide_content_text {
    padding: 25px 50px 25px 50px;
}

/*
    SLIDE CONTACT - START
*/

#contact_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
}
#contact_left_top {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-around;
}
#contact_right {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 100px;
}
#contact-form {
    margin-top: 15px;
    padding-left: 15px;
}
#contact_social {
    margin-left: 15px;
}

.icon-background {
    background: url('images/background/mailshop_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(75,82,86,0.5);
    -moz-box-shadow: 2px 2px 7px 0px rgba(75,82,86,0.5);
    box-shadow: 2px 2px 7px 0px rgba(75,82,86,0.5);
}

.link_content {
    color : var(--mailshop-black);
}
.link_content:hover {
    color: var(--mailshop-logo-orange);
}

/*
    SLIDE CONTACT - END
*/

/*

    Boostrap Form

*/


label {
    display: inline-block;
    margin-bottom: 2.5px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control:focus {
    color: #495057;
    border-color: var(--mailshop-logo-orange);
    outline: 0;
    box-shadow: 0 0 0 1px rgba(235,90,37,1);
}
.btn-primary:hover {
    color: var(--mailshop-footer-grey);
    background-color: var(--mailshop-logo-orange);
    border-color: var(--mailshop-logo-orange);
    font-weight: bold;
}

.btn-primary {
    color: var(--mailshop-logo-orange);
    background-color: var(--mailshop-footer-grey);
    border-color: var(--mailshop-footer-grey);
    font-weight: bold;
}