@import "globalVariables.css";

#footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    height: 205px;
    background-color: var(--mailshop-grey-light-02);
    color: var(--mailshop-grey-dark-logo);
    font-size: 10pt;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#footer_top {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 180px;
    background-color: var(--mailshop-grey-light-02);
    color: var(--mailshop-grey-dark-logo);
    font-size: 10pt;
    padding:10px 10%;
}

#footer_bot {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: 25px;
}

#footer_left{
    width:40%;
}

#footer_right {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer .link {
    color: var(--mailshop-grey-dark-logo);
    text-decoration: none;
}

#footer .link:hover{
    color:var(--mailshop-logo-orange);
    text-decoration:underline;
}

.footer_header {
    margin-bottom: 5px;
    font-weight: bold;
}

.vertical_seperator {
    background-image: url("../images/logo/mailshop_seperator.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 100px;
}